<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tangdan.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/peocom"
        android:label="大众点评"
        android:roundIcon="@drawable/peocom"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.PeopleCom"></activity>
        <activity
            android:name=".ui.StoreDetailActivity"
            android:theme="@style/ShowDetailTheme" />
        <activity android:name=".ui.UserAccountTextViewActivity" />
        <activity android:name=".ui.NewWelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WelcomePage"
            android:theme="@style/ShowDetailTheme"></activity>
        <activity android:name=".ui.RegisterPage" />
        <activity android:name=".ui.StoreCollectionActivity"/>
    </application>

</manifest>